<h2><%= @task.title%></h2>
<p><%= @task.duedate%></p>
<p><%= @task.content%></p>
<p><%= @task.location%></p>


<%= link_to 'Edit task', edit_task_path %>

<%= link_to 'Delete task', task_path, method: :delete %>



