<h1>Write a New Message</h1>
<%= f.label :content %>
<%= f.text_field :content %>
<%= f.label :attachment %>
<%= f.text_field :attachment %>
<%= f.label :sender_id %>
<%= f.text_field :sender_id %>
<%= f.submit %>
