
<h4>Start Tasking</h4>

<!--  -->

      <%= form_for @user do |f| %>
      <%= f.text_field :name, placeholder: 'Name' %></br>
      <%= f.text_field :email, placeholder: 'Email' %></br>
      <%= f.password_field :password, placeholder: 'Password' %></br>
      <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %></br>
      <%= f.button 'Signup' %>
      <% end %>	